.wrapper {
    margin: 0 auto;
    max-width: 1440px;
}

.section-heading {
    text-align: center;
    margin-bottom: 1em;
    font-size: 4rem;
    font-weight: 300;
    color: $Dark-Blue;
}

.button {
    background-image: linear-gradient(90deg, $Bright-Cyan, $Lime-Green);
    padding: 1em 2em;
    border-radius: 25px;
    color: $White;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.6rem;
    white-space: nowrap;
    text-align: center;
}

.hover-animation {
    position: relative;

    &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -5px;
        left: 0;
        transform: scale(0);
        width: 100%;
        height: 2px;
        border-radius: 2px;
        background-color: $Lime-Green;
        transition: .3s;
    }

    &:hover::before {
        transform: scale(1);
    }
}